html {
    font-size: 62.5%;
    /* default font size is 10px -> 10/16 = 0.625 * 100% font size of browser*/
}

body {
    margin: 0;
    padding: 0 !important;
    font-family: "Montserrat";
  }
  
  body * {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#slider {
    // height: 17.5rem;
    position: relative;    

    .header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        padding-left: 2.2rem;
        padding-top: 4.2rem;
        padding-bottom: 2rem;
        background-color: inherit;
        box-sizing: border-box;

        input {
            width: 21rem;
            padding: 1rem 1rem 1rem 5rem;
            border-radius: 1rem;
            border: 0.1rem solid #9ea0a6;
            background-color: transparent;
            background: url(./images/search.png) no-repeat scroll 1rem 0.75rem;
            z-index: 1;
            background-size: 2.5rem;

            :focus {
                border-color: inherit;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        }
    }

    .slider {

        display: none;

        &__first {
            background-image: url("../images/bg-clothes.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: 15rem;
            background-color: #e8e8e8;
            padding-top: 10rem;
            padding-bottom: 1.8rem;
        }

        &__second {
            background-image: url("../images/bg-pink.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 12rem;
            background-position-y: 3rem;
            background-color: #eadfdf;
            padding-top: 10rem;
            padding-bottom: 1.8rem;
        }
        
        &__progress {
                position: absolute;
                right: 1rem;

                div {
                    border-top: .3rem solid #2b2d40;
                    display: inline-block;
                    width: 1rem;
                    border-radius: 0.2rem;
                }

                div:nth-child(2) {
                    border-top: 0.3rem solid #d4d6d5;
                    display: inline-block;
                    width: 0.3rem;
                    border-radius: 0.2rem;
                }

                div:nth-child(3) {
                    border-top: 0.3rem solid #d4d6d5;
                    display: inline-block;
                    width: 0.3rem;
                    margin-left: 0.2rem;
                    border-radius: 0.2rem;
                }


                &--second {

                    div {
                        border-top: 0.3rem solid #d4d6d5;
                        display: inline-block;
                        width: 0.3rem;
                        border-radius: 0.2rem;
                    }
    
                    div:nth-child(2) {
                        border-top: .3rem solid #2b2d40;
                        display: inline-block;
                        width: 1rem;
                        border-radius: 0.2rem;
                    }

                }
        }


        &__hashtag {
            font-size: 1.2rem;
            padding-left: 2.2rem;
        }
        &__heading {
            font-size: 2.6rem;
            font-weight: bold;
            color: #161828;
            width: 15rem;
            padding-left: 2.2rem;
        }
        &__subheading {
            font-size: 1rem;
            color: #9ea0a6;
            padding-left: 2.2rem;
            width: 15rem;
            padding-bottom: 1rem;
        }
        &__action {
            color: white;
            background-color: #2b2d40;
            width: 9rem;
            height: 3rem;
            text-align: center;
            border-radius: 0.5rem;
            margin-left: 2.2rem;
            padding-top: 1rem;
            box-sizing: border-box;
        }

        .cart {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: auto;
            align-self: center;
        }

        .messages {
            width: 2.5rem;
            height: 2.5rem;
            align-self: center;
            margin: 0rem 0.5rem;
        }
    }
}

#categories {

    display: flex;
    padding: 1rem 2.2rem;
    justify-content: space-between;

    .category {

        margin-right: 1rem;

        img {
            width: 4rem;
            height: 4rem;
        }

        &__name {
            text-align: center;
        }
    }
}

#cprogress {

    text-align: center;
    padding: 1rem 0rem;

    div {
        border-top: .3rem solid #2b2d40;
        display: inline-block;
        width: 1rem;
        border-radius: 0.2rem;
    }

    div:nth-child(2) {
        border-top: 0.3rem solid #d4d6d5;
        display: inline-block;
        width: 0.3rem;
        border-radius: 0.2rem;
    }

    div:nth-child(3) {
        border-top: 0.3rem solid #d4d6d5;
        display: inline-block;
        width: 0.3rem;
        margin-left: 0.2rem;
        border-radius: 0.2rem;
    }
}

.hproducts {
    display: flex;
    padding: 2rem 2.2rem;
    justify-content: space-between;
    position: sticky;
    top: 9.4rem;
    z-index: 1;
    background-color: #f4f5f8;

    &__heading {
        font-size: 1.3rem;
        font-weight: bold;
        color: #161828;
    }

    &__subheading {
        font-weight: 500;
        font-size: 1.2rem;
        color: #4db39a;
    }
}

#products {

    display: flex;
    padding: 0rem 1.2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 8rem;
    background-color: #f4f5f8;

    .product {
        flex: 0 1 18rem;

        &__image {
            width: 18rem;
            height: 12rem;
            padding-bottom: 1.5rem;
        }

        &__type {
            font-size: 1.2rem;
            padding-bottom: 0.5rem;
            color: #b3b3b8;
            font-weight: 500;
        }

        &__name {
            font-size: 1.4rem;
            padding-bottom: 2.55rem;
            color: #161828;
            font-weight: 600;
        }

        &__ratingprice {
            display: flex;
            justify-content: space-between;
            padding-bottom: 4rem;
            color: #b3b3b8;
            font-weight: 500;
        }

        &__rating {
            font-size: 1.4rem;
            display: flex;
        }

        &__star {
            font-size: 1.4rem;
            color: #b3b3b8;
            font-weight: 500;
            width: 1.5rem;
            height: 1.5rem;
        }

        &__price {
            font-size: 1.6rem;
            color: #3f9f89;
            font-weight: 600;
        }
    }
    

}

.footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 2rem 0rem;

    &__icon {
        width: 4rem;
        height: 4rem;
    }

    &__name {
        font-size: 1.4rem;
        color: #a5aab5;
    }

}


// media queries

@media only screen and (max-width: 363px) {

    #slider {

        .header {

            input {
                width: 17rem;
            }
        }
    }

    #products {
      padding: unset;
      flex-direction: column;

      .product {
        width: 18rem;
        align-self: center;
      }
    }
  }

@media only screen and (max-width: 375px) {
    #products {
      padding: 0rem 0.2rem 9rem 0.2rem
    }
  }

 



